<h1>Publicaciones</h1>
<div class="row">


  <!-- TABLE -->
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <th>Nombre</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Enlace</th>
      </thead>
      <tbody>
        <tr *ngFor="let pub of PubServices.pubs">
          <td>{{ pub.nombre }}</td>
          <td>{{ pub.titulo }}</td>
          <td>{{ pub.desc }}</td>
          <td>{{ pub.enlace }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- FORM -->
  <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
  </ng-container>
  <ng-template #loggedIn>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-4">

          <!-- FORM -->
          <form #pubForm="ngForm" (ngSubmit)="addPub(pubForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="PubServices.selectedPub._id">
            <div class="form-group">
              <input type="hidden" name="nombre" class="form=control" placeholder="Ingresa tu usuario"
                class="form-control" [(ngModel)]="PubServices.selectedPub.nombre">
            </div>

            <div class="form-group">
              <input type="text" name="titulo" class="form=control" placeholder="Ingresa el título" class="form-control"
                [(ngModel)]="PubServices.selectedPub.titulo">
            </div>
            <div class="form-group">
              <input type="text" name="desc" class="form=control" placeholder="Ingresa la descripción"
                class="form-control" [(ngModel)]="PubServices.selectedPub.desc">
            </div>
            <h1></h1>
            <div class="form-group">
              <input type="file" name="enlace" class="form=control" placeholder="Ingresa el enlace" class="form-control"
                [(ngModel)]="PubServices.selectedPub.enlace">
            </div>
            <button class="btn btn-primary mr-2" (click)="resetForm(pubForm)">
              Limpiar
            </button>
            <button class="btn btn-secondary">
              Publicar
            </button>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</div>