<h1>Publicaciones</h1>
<div class="row">


  <!-- TABLE -->
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <th>Usuario</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Enlace</th>
      </thead>
      <tbody>
        <tr *ngFor="let pub of PubServices.pubs">
          <td>{{ pub.nombre }}</td>
          <td>{{ pub.titulo }}</td>
          <td>{{ pub.desc }}</td>
          <td>
            <a href="{{ pub.enlace }}">Ir al Artículo</a>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- CHATBOT -->
    <br>
    <img src="../../../assets/imagenes/baymax.png" style="width:240px; height:120px; margin-left:280px"
      class="card-img-top" alt="...">
    <div class="col-md-8">
      <div class="card" style="width:600px; background-color:rgb(190, 36, 18);">
        <div class="card-body p-">

          <!-- FORM -->

          <form>
            <a style="font-style: oblique; color: azure;">Baymax / Asistente Inteligente</a>
            <br><br>
            <div class="form-group" style="scrollbar-width: thin;">
              <!--
              <textarea readonly class="form=control" class="form-control" placeholder="" style="height:180px; align-content:center; overflow:auto; border:2px outset #000000;" name="respuestas">       
                >Baymax: Mi nombre es Baymax. Contestaré a tus preguntas acerca de la plataforma de Ciencia y Tecnología. Si quieres salir, escribe 'salir' 
              </textarea>-->
              <div class="card mb-3"
                style="background-color: rgb(242, 242, 242); height:400px; align-content:center; overflow-y:scroll;
                overflow-x: hidden; border:2px outset #000000; scrollbar-width: thin;">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <div class="card-body">
                      <div *ngFor="let obj of model">
                      <div *ngIf="cambiarcolor(); then thenBlock else elseBlock"></div>
                      <ng-template #thenBlock>
                        <p style="color:rgb(254, 59, 30); margin-left: 20px; width:150%">{{obj.mensaje}}.</p>
                      </ng-template>
                      <ng-template #elseBlock>
                        <p style="color:rgb(89, 72, 146); margin-left: 20px; width:150%">{{obj.mensaje}}.</p>
                      </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <input style="float:left; width:90%; background-color: rgb(242, 242, 242);; color:rgb(89, 72, 146);" type="text" name="preguntabot" class="form=control"
                  placeholder="Ingresa tu pregunta" class="form-control">
                <a>
                  <img src="../../../assets/imagenes/send.png"
                    style="float:right; width:30px; height:30px; margin-right: 7px; cursor: pointer;" class="card-img-top" alt="...">
                </a>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- TERMINA CHATBOT -->
  </div>

  <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
  </ng-container>
  <ng-template #loggedIn>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-4">

          <!-- FORM -->
          <form #pubForm="ngForm" (ngSubmit)="addPub(pubForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="PubServices.selectedPub._id">
            <div class="form-group">
              <input type="hidden" name="nombre" class="form=control" placeholder="Ingresa tu usuario"
                class="form-control" [(ngModel)]="PubServices.selectedPub.nombre">
            </div>

            <div class="form-group">
              <input type="text" name="titulo" class="form=control" placeholder="Ingresa el título" class="form-control"
                [(ngModel)]="PubServices.selectedPub.titulo">
            </div>
            <div class="form-group">
              <input type="text" name="desc" class="form=control" placeholder="Ingresa la descripción"
                class="form-control" [(ngModel)]="PubServices.selectedPub.desc">
            </div>
            <h1></h1>
            <div class="form-group">
              <input type="text" name="enlace" class="form=control" placeholder="Ingresa el enlace" class="form-control"
                [(ngModel)]="PubServices.selectedPub.enlace">
            </div>
            <button class="btn btn-primary mr-2" (click)="resetForm(pubForm)">
              Limpiar
            </button>
            <button class="btn btn-secondary">
              Publicar
            </button>
          </form>
        </div>

      </div>
      <br>
      <iframe width="390" height="240" src="https://www.youtube.com/embed/gEv6HLHYhWo" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <br>
      <iframe width="390" height="240" src="https://www.youtube.com/embed/69uT90tEJdE" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </ng-template>
</div>