<h1>Publicaciones</h1>
<div class="row">


  <!-- TABLE -->
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <th>Usuario</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Enlace</th>
      </thead>
      <tbody>
        <tr *ngFor="let pub of PubServices.pubs">
          <td>{{ pub.nombre }}</td>
          <td>{{ pub.titulo }}</td>
          <td>{{ pub.desc }}</td>
          <td>
            <a href="{{ pub.enlace }}">Ir al Artículo</a>
          </td>
        </tr>
      </tbody>
    </table>
    <iframe
      src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FELonMuskOfflcial%2Fposts%2F135871715494140&show_text=true&width=500"
      width="810" height="186" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    <iframe
      src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FELonMuskOfflcial%2Fposts%2F135871575494154&show_text=true&width=500"
      width="810" height="186" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>
  <!-- FORM -->
  <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
  </ng-container>
  <ng-template #loggedIn>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body p-4">

          <!-- FORM -->
          <form #pubForm="ngForm" (ngSubmit)="addPub(pubForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="PubServices.selectedPub._id">
            <div class="form-group">
              <input type="hidden" name="nombre" class="form=control" placeholder="Ingresa tu usuario"
                class="form-control" [(ngModel)]="PubServices.selectedPub.nombre">
            </div>

            <div class="form-group">
              <input type="text" name="titulo" class="form=control" placeholder="Ingresa el título" class="form-control"
                [(ngModel)]="PubServices.selectedPub.titulo">
            </div>
            <div class="form-group">
              <input type="text" name="desc" class="form=control" placeholder="Ingresa la descripción"
                class="form-control" [(ngModel)]="PubServices.selectedPub.desc">
            </div>
            <h1></h1>
            <div class="form-group">
              <input type="text" name="enlace" class="form=control" placeholder="Ingresa el enlace" class="form-control"
                [(ngModel)]="PubServices.selectedPub.enlace">
            </div>
            <button class="btn btn-primary mr-2" (click)="resetForm(pubForm)">
              Limpiar
            </button>
            <button class="btn btn-secondary">
              Publicar
            </button>
          </form>
        </div>

      </div>
      <br>
      <iframe width="390" height="240" src="https://www.youtube.com/embed/gEv6HLHYhWo" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      <br>
      <iframe width="390" height="240" src="https://www.youtube.com/embed/69uT90tEJdE" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </ng-template>
</div>