<h1>CONTACTOS</h1>
<div class="row">


  <!-- TABLE -->
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Contactar</th>
      </thead>
      <tbody>

        <tr *ngFor="let user of authService.users">
          <td>{{ user.user }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="btn btn-primary btn-sm">
              <a href="https://mail.google.com/mail/u/1/#inbox" style="color: rgb(255, 255, 255); text-decoration: none;">Contactar</a>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
