<h1>Desarrolladores</h1>
<br><br>

<div class="col-md-8">
    <table class="table table-striped">
        <thead>
            <th>
                <div class="card" style="width: 12rem;">
                    <img src="../../../assets/imagenes/io.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Juan Antonio Soltero Barrera</h5>
                        <p class="card-text">18401205</p>
                    </div>
                    <br>
                    <br>
                </div>
            </th>
            <th>
            <div class="card" style="width: 12rem;">
                <th><img src="../../../assets/imagenes/guvo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gustavo Marín Lemus</h5>
                        <p class="card-text">18401158</p>
                    </div>
                    <br>
                    <br>
                </div>
            </th>
            <th>
                <div class="card" style="width: 12rem;">
                    <th><img src="../../../assets/imagenes/carlos.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Antonio Carlos García Moreno</h5>
                            <p class="card-text">18401118</p>
                        </div>
                        <br>
                    </div>
            </th>
            <th>
                <div class="card" style="width: 12rem;">
                    <th><img src="../../../assets/imagenes/benjamin.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Benjamín Maximiliano Zepeda Ibarra</h5>
                            <p class="card-text">18401214</p>
                        </div>
                        <br>
                    <br>
                    <br>
                    </div>
            </th>
            <th>
                <div class="card" style="width: 12rem;">
                    <th><img src="../../../assets/imagenes/saucedo.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Juan Luis Saucedo García</h5>
                            <p class="card-text">18401202</p>
                        </div>
                        <br>
                    <br>
                    <br>
                    </div>
            </th>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>